<!DOCTYPE HTML>
<html>

  <head>
    <title>Recruitin Careers</title>
  </head>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Recruitin Careers</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <style>
    #banner{
      height: 360px;
      object-fit: cover;
      width:100%;
      margin-bottom: 16px;
    }
  </style>
  <body>
    {% include 'navbar.html' %}
    <img class="img-fluid" id = "banner" src="https://recruitin-careers-website--code-csaurav8.repl.co/static/banner.jpg">
    <div class="container">
      <h1 class="text-center mt-2 mb-4">{{title}}</h1>
    <h2 class="text-center mt-2 mb-4">About us</h2>
      <div class="row">
      <div class="col-md-6"> 
      
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat sem ultricies ex molestie ullamcorper. Phasellus placerat blandit eros, ultricies lacinia diam pretium ac. Nam vel neque in erat dictum rutrum nec sit amet ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce at viverra justo. Proin eget justo in est ultricies auctor. Nulla mollis tempor eros non tempor. Nullam in lorem sodales, placerat odio vel, mollis mi. Pellentesque consectetur convallis justo at efficitur.</p>
      </div>
        <div class="d-none d-md-block col-md-6" style="margin-bottom: 16px">
          <img src="/static/picAside.jpg" style="height: 360px; width:100%; object-fit:cover">
        </div>
    </div>

  <h2 class="text-center mt-2 mb-4">Job openings</h2>
  <p>
    {% for job in jobs %}

      {% include 'jobitem.html' %}
    
    {% endfor %}
  <p>
  <div class="text-center">
  <a href="mailto:code.csaurav8@gmail.com?subject=Question%20about%20job%20openings&body=My%20Name%3A%20%3Cyour%20name%20here%3E%0D%0AMy%20Question%3A%20%3Center%20your%20question%20here%3E%0D%0A" type="button" class="btn btn-primary btn-lg"> Contact us</a>
    </div>
    {% include 'footer.html' %}
  </body>
  
</html>
 